<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Compra un perrito!</h2>
        <br /><br />
        <img src="~/img/Sad.png" width="25%" />
    </div>
    <h3 class="col-12 text-center" style="color:red">
        <br />
        Bye
    </h3>
</div>
